In [1]:
import numpy as np
import pandas as pd

In [33]:
#filepath1='./2011/Tenure_processed2_2011.xlsx'
filepath2='./2021/General_processed_2021.xlsx'
#df_tenure=pd.read_excel(filepath1)
df_general=pd.read_excel(filepath2)

In [35]:
#df_tenure
df_general

,Date,Local Authorities District,Geo Code,General Health Type,"L1, L2 and L3: Higher managerial, administrative and professional occupations","L4, L5 and L6: Lower managerial, administrative and professional occupations",L7: Intermediate occupations,L8 and L9: Small employers and own account workers,L10 and L11: Lower supervisory and technical occupations,L12: Semi-routine occupations,L13: Routine occupations,L14.1 and L14.2: Never worked and long-term unemployed,L15: Full-time students
0,2021,Adur,E07000223,Very good or good health,5279,9150,5465,5612,2217,4833,3637,1993,2362
1,2021,Allerdale,E07000026,Very good or good health,6829,12168,6217,7304,4853,8324,8677,3535,2885
2,2021,Amber Valley,E07000032,Very good or good health,10742,17452,9523,8288,5640,9492,11229,3692,4139
3,2021,Arun,E07000224,Very good or good health,12594,23063,13469,14053,6605,13842,11653,5532,6022
4,2021,Ashfield,E07000170,Very good or good health,6878,14174,9392,6703,5681,10580,12668,4418,4205
...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,2021,Torfaen,W06000020,Fair health,857,2063,1565,1007,1066,2296,2815,1957,249
989,2021,Monmouthshire,W06000021,Fair health,1323,2428,1303,1626,749,1695,1796,1280,188
990,2021,Newport,W06000022,Fair health,1427,3171,2611,1510,1320,3225,3824,3527,525
991,2021,Powys,W06000023,Fair health,1436,3381,1895,3715,1189,2988,2621,2139,280
992,2021,Merthyr Tydfil,W06000024,Fair health,389,1132,855,594,688,1404,1771,1509,177

In [18]:
columnsindex=['Date','Local Authorities District','Geo Code','Sex','General Health Type','Tenure Type','Population Values']
child=pd.DataFrame(columns=columnsindex)
child

Empty DataFrame
Columns: [Date, Local Authorities District, Geo Code, Sex, General Health Type, Tenure Type, Population Values]
Index: []

In [36]:
df_columns = df_general.loc[:, 'L1, L2 and L3: Higher managerial, administrative and professional occupations':'L15: Full-time students']
columns_names=df_columns.columns

In [37]:
columns_names=columns_names.to_numpy()
columns_names

array(['L1, L2 and L3: Higher managerial, administrative and professional occupations',
       'L4, L5 and L6: Lower managerial, administrative and professional occupations',
       'L7: Intermediate occupations',
       'L8 and L9: Small employers and own account workers',
       'L10 and L11: Lower supervisory and technical occupations',
       'L12: Semi-routine occupations', 'L13: Routine occupations',
       'L14.1 and L14.2: Never worked and long-term unemployed',
       'L15: Full-time students'], dtype=object)

In [38]:
dic=[]
for index, row in df_general.iterrows():
    for col in columns_names:
        tmp_row=dict()
        tmp_row['Date']=row['Date']
        tmp_row['Local Authorities District']=row['Local Authorities District']
        tmp_row['Geo Code']=row['Geo Code']
        #tmp_row['Sex']=row['Sex']
        tmp_row['General Health Type']=row['General Health Type']
        tmp_row['NS-Sec']=col
        tmp_row['Population Values']=row[col]
        dic.append(tmp_row)
df=pd.DataFrame(dic)
df

,Date,Local Authorities District,Geo Code,General Health Type,NS-Sec,Population Values
0,2021,Adur,E07000223,Very good or good health,"L1, L2 and L3: Higher managerial, administrati...",5279
1,2021,Adur,E07000223,Very good or good health,"L4, L5 and L6: Lower managerial, administrativ...",9150
2,2021,Adur,E07000223,Very good or good health,L7: Intermediate occupations,5465
3,2021,Adur,E07000223,Very good or good health,L8 and L9: Small employers and own account wor...,5612
4,2021,Adur,E07000223,Very good or good health,L10 and L11: Lower supervisory and technical o...,2217
...,...,...,...,...,...,...
8932,2021,Merthyr Tydfil,W06000024,Fair health,L10 and L11: Lower supervisory and technical o...,688
8933,2021,Merthyr Tydfil,W06000024,Fair health,L12: Semi-routine occupations,1404
8934,2021,Merthyr Tydfil,W06000024,Fair health,L13: Routine occupations,1771
8935,2021,Merthyr Tydfil,W06000024,Fair health,L14.1 and L14.2: Never worked and long-term un...,1509
8936,2021,Merthyr Tydfil,W06000024,Fair health,L15: Full-time students,177

In [39]:
df.to_excel('./2021/NS_2021.xlsx')