In [2]:
import numpy as np
import pandas as pd

# Data Processing

In [196]:
# hours1=pd.read_excel("./2011/Hour Worked_2011.xlsx")
# hours2=pd.read_excel('./2021/Hour_Worked_2021.xlsx')

In [197]:
df=pd.read_excel('./2011/Tenure_processed.xlsx')
#enure=pd.read_excel('./2011/Tenure_2011.xlsx',sheet_name=None)

In [198]:
# def rename_col(data):
#     data.columns=['Local Authorities District','Geo Code','L1, L2 and L3: Higher managerial, administrative and professional occupations','L4, L5 and L6: Lower managerial, administrative and professional occupations','L7: Intermediate occupations','L8 and L9: Small employers and own account workers','L10 and L11: Lower supervisory and technical occupations','L12: Semi-routine occupations','L13: Routine occupations','L14.1 and L14.2: Never worked and long-term unemployed','L15: Full-time students']
#     return data
def rename_col(data):
    data.columns=['Local Authorities District','Geo Code','Owned: Owned outright','Owned: Owned with a mortgage or loan or shared ownership','Rented: Social rented','Rented: Private rented or living rent free']
    return data

In [199]:
# dfs=[]
# for sheet_name,sheet_data in general.items():
#     sheet_data=rename_col(sheet_data)
#     class_name=sheet_name.split(';')
#     sheet_data['Sex']=class_name[0]
#     sheet_data['General Health Type']=class_name[1]
#     dfs.append(sheet_data)
    #print(class_name)
    #print(sheet_data.columns)

In [200]:
# combined_df=pd.concat(dfs, axis=0, ignore_index=True)
# combined_df=pd.DataFrame(combined_df)
# type(combined_df)

In [201]:
import pandas as pd

filtered_df = df[(df['General Health Type'].isin(['Fair health', 'Bad or very bad health'])) & (df.duplicated(subset=['Local Authorities District'], keep=False))]

filtered_df['General Health Type'] = 'Not good health'

summed_rows_good = filtered_df.groupby(['Local Authorities District', 'Geo Code','General Health Type']).sum().reset_index()

/var/folders/vp/8_rd4_c56g3dpqb1167z6tqr0000gn/T/ipykernel_8577/3339796379.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['General Health Type'] = 'Not good health'

In [202]:
# filtered_df_bad = df[(df['General Health Type'].isin(['Very bad health', 'Bad health'])) & (df.duplicated(subset=['Local Authorities District'], keep=False))]
#
# filtered_df_bad['General Health Type'] = 'Bad or very bad health'
#
# summed_rows_bad = filtered_df_bad.groupby(['Date','Local Authorities District', 'Geo Code','General Health Type']).sum().reset_index()

In [203]:
filter_fair=df[(df['General Health Type']=='Very good or good health')]
filter_fair

,Local Authorities District,Geo Code,Owned: Owned outright,Owned: Owned with a mortgage or loan or shared ownership,Rented: Social rented,Rented: Private rented or living rent free,Sex,General Health Type
1044,Darlington,E06000005,9336,20179,4880,8052,Females,Very good or good health
1045,County Durham,E06000047,43918,92752,26299,29345,Females,Very good or good health
1046,Hartlepool,E06000001,6917,16507,6295,5684,Females,Very good or good health
1047,Middlesbrough,E06000002,10469,22912,10257,10382,Females,Very good or good health
1048,Northumberland,E06000057,32406,55536,18609,18264,Females,Very good or good health
...,...,...,...,...,...,...,...,...
1387,Caerphilly,W06000018,14228,33771,10345,8434,Females,Very good or good health
1388,Blaenau Gwent,W06000019,5590,10771,5144,3735,Females,Very good or good health
1389,Torfaen,W06000020,7462,16525,7168,3481,Females,Very good or good health
1390,Monmouthshire,W06000021,11133,16688,3968,4445,Females,Very good or good health
1391,Newport,W06000022,11780,26706,9494,8867,Females,Very good or good health

In [204]:
summed_rows_good

,Local Authorities District,Geo Code,General Health Type,Owned: Owned outright,Owned: Owned with a mortgage or loan or shared ownership,Rented: Social rented,Rented: Private rented or living rent free,Sex
0,Adur,E07000223,Not good health,5802,2964,2372,1141,MalesMalesFemalesFemales
1,Allerdale,E07000026,Not good health,9240,3096,5342,1779,MalesMalesFemalesFemales
2,Amber Valley,E07000032,Not good health,12162,4801,5139,2663,MalesMalesFemalesFemales
3,Arun,E07000224,Not good health,15479,6311,4065,3954,MalesMalesFemalesFemales
4,Ashfield,E07000170,Not good health,12215,5651,6315,2979,MalesMalesFemalesFemales
...,...,...,...,...,...,...,...,...
343,Wychavon,E07000238,Not good health,9666,4123,4689,1801,MalesMalesFemalesFemales
344,Wycombe,E07000007,Not good health,10053,5755,5216,2597,MalesMalesFemalesFemales
345,Wyre,E07000128,Not good health,12794,5278,2682,3330,MalesMalesFemalesFemales
346,Wyre Forest,E07000239,Not good health,9272,4098,4643,2126,MalesMalesFemalesFemales
347,York,E06000014,Not good health,14202,5842,7029,3331,MalesMalesFemalesFemales

In [205]:
df[(df['Local Authorities District']=='Adur')]

,Local Authorities District,Geo Code,Owned: Owned outright,Owned: Owned with a mortgage or loan or shared ownership,Rented: Social rented,Rented: Private rented or living rent free,Sex,General Health Type
282,Adur,E07000223,5686,12083,2674,3200,Males,Very good or good healthth
630,Adur,E07000223,1945,1096,623,387,Males,Fair health
978,Adur,E07000223,633,316,418,150,Males,Bad or very bad health
1326,Adur,E07000223,6538,11806,3045,3113,Females,Very good or good health
1674,Adur,E07000223,2436,1173,885,424,Females,Fair health
2022,Adur,E07000223,788,379,446,180,Females,Bad or very bad health

In [206]:
#summed_rows_bad

In [207]:
new_df = pd.concat([summed_rows_good,filter_fair])
new_df

,Local Authorities District,Geo Code,General Health Type,Owned: Owned outright,Owned: Owned with a mortgage or loan or shared ownership,Rented: Social rented,Rented: Private rented or living rent free,Sex
0,Adur,E07000223,Not good health,5802,2964,2372,1141,MalesMalesFemalesFemales
1,Allerdale,E07000026,Not good health,9240,3096,5342,1779,MalesMalesFemalesFemales
2,Amber Valley,E07000032,Not good health,12162,4801,5139,2663,MalesMalesFemalesFemales
3,Arun,E07000224,Not good health,15479,6311,4065,3954,MalesMalesFemalesFemales
4,Ashfield,E07000170,Not good health,12215,5651,6315,2979,MalesMalesFemalesFemales
...,...,...,...,...,...,...,...,...
1387,Caerphilly,W06000018,Very good or good health,14228,33771,10345,8434,Females
1388,Blaenau Gwent,W06000019,Very good or good health,5590,10771,5144,3735,Females
1389,Torfaen,W06000020,Very good or good health,7462,16525,7168,3481,Females
1390,Monmouthshire,W06000021,Very good or good health,11133,16688,3968,4445,Females
1391,Newport,W06000022,Very good or good health,11780,26706,9494,8867,Females

In [208]:
new_df.drop(columns=['Sex'],inplace=True)
new_df

,Local Authorities District,Geo Code,General Health Type,Owned: Owned outright,Owned: Owned with a mortgage or loan or shared ownership,Rented: Social rented,Rented: Private rented or living rent free
0,Adur,E07000223,Not good health,5802,2964,2372,1141
1,Allerdale,E07000026,Not good health,9240,3096,5342,1779
2,Amber Valley,E07000032,Not good health,12162,4801,5139,2663
3,Arun,E07000224,Not good health,15479,6311,4065,3954
4,Ashfield,E07000170,Not good health,12215,5651,6315,2979
...,...,...,...,...,...,...,...
1387,Caerphilly,W06000018,Very good or good health,14228,33771,10345,8434
1388,Blaenau Gwent,W06000019,Very good or good health,5590,10771,5144,3735
1389,Torfaen,W06000020,Very good or good health,7462,16525,7168,3481
1390,Monmouthshire,W06000021,Very good or good health,11133,16688,3968,4445
1391,Newport,W06000022,Very good or good health,11780,26706,9494,8867

In [209]:
new_df.to_excel('./2011/Tenure_processed2.xlsx',index=False)

In [215]:
nssec=pd.read_excel('./2011/General_processed_2011.xlsx')
nssec['label']=0
for index, row in nssec.iterrows():
    if row['General Health Type']=='Very good or good health' and row['Sex']=='Females':
        nssec.at[index,'label']=0
    elif row['General Health Type']=='Very good or good health' and row['Sex']=='Males':
        nssec.at[index,'label']=1
    elif row['General Health Type']=='Fair health' and row['Sex']=='Females':
        nssec.at[index,'label']=2
    elif row['General Health Type']=='Fair health' and row['Sex']=='Males':
        nssec.at[index,'label']=3
    elif row['General Health Type']=='Bad or very bad health' and row['Sex']=='Females':
        nssec.at[index,'label']=4
    elif row['General Health Type']=='Bad or very bad health' and row['Sex']=='Males':
        nssec.at[index,'label']=5
nssec

,Date,Local Authorities District,Sex,Geo Code,General Health Type,"L1, L2 and L3: Higher managerial, administrative and professional occupations","L4, L5 and L6: Lower managerial, administrative and professional occupations",L7: Intermediate occupations,L8 and L9: Small employers and own account workers,L10 and L11: Lower supervisory and technical occupations,L12: Semi-routine occupations,L13: Routine occupations,L14.1 and L14.2: Never worked and long-term unemployed,L15: Full-time students,label
0,2011,Adur,Females,E07000223,Very good or good health,1224,4775,4688,1195,805,3854,1433,615,1175,0
1,2011,Adur,Males,E07000223,Very good or good health,2327,4009,1429,3163,2095,1807,1958,451,1174,1
2,2011,Allerdale,Females,E07000026,Very good or good health,1633,6849,5058,2518,1491,6735,3272,1126,1801,0
3,2011,Allerdale,Males,E07000026,Very good or good health,3586,5256,1465,4360,4281,3649,4744,855,1602,1
4,2011,Amber Valley,Females,E07000032,Very good or good health,2376,8825,7354,2189,1852,7110,4583,1290,2490,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083,2011,Caerphilly,Females,W06000018,Fair health,269,2008,2378,594,929,3814,3315,1682,223,2
2084,2011,Blaenau Gwent,Females,W06000019,Fair health,76,790,743,222,393,1623,1435,847,88,2
2085,2011,Torfaen,Females,W06000020,Fair health,134,1139,1185,290,530,2005,1532,724,116,2
2086,2011,Monmouthshire,Females,W06000021,Fair health,249,1429,1191,557,369,1507,940,599,61,2
2087,2011,Newport,Females,W06000022,Fair health,245,1685,2006,420,534,2664,1833,1327,244,2

In [216]:
nssec.to_excel('./2011/General_processed_2011.xlsx',index=False)

In [7]:
tenure=pd.read_excel('./2011/Projection/Tenure_processed_2011.xlsx')
tenure['label']=0
for index, row in tenure.iterrows():
    if row['General Health Type']=='Very good or good health' and row['Sex']=='Females':
        tenure.at[index,'label']=0
    elif row['General Health Type']=='Very good or good health' and row['Sex']=='Males':
        tenure.at[index,'label']=1
    elif row['General Health Type']=='Fair health' and row['Sex']=='Females':
        tenure.at[index,'label']=2
    elif row['General Health Type']=='Fair health' and row['Sex']=='Males':
        tenure.at[index,'label']=3
    elif row['General Health Type']=='Bad or very bad health' and row['Sex']=='Females':
        tenure.at[index,'label']=4
    elif row['General Health Type']=='Bad or very bad health' and row['Sex']=='Males':
        tenure.at[index,'label']=5
tenure

,Date,Local Authorities District,Geo Code,Owned: Owned outright,Owned: Owned with a mortgage or loan or shared ownership,Rented: Social rented,Rented: Private rented or living rent free,Sex,General Health Type,label
0,2011,Darlington,E06000005,8696,20310,4123,8164,Males,Very good or good health,1
1,2011,County Durham,E06000047,42450,94692,23071,28120,Males,Very good or good health,1
2,2011,Hartlepool,E06000001,6574,16687,5623,5469,Males,Very good or good health,1
3,2011,Middlesbrough,E06000002,9957,23175,8941,10808,Males,Very good or good health,1
4,2011,Northumberland,E06000057,29463,56224,16503,17950,Males,Very good or good health,1
...,...,...,...,...,...,...,...,...,...,...
2083,2011,Caerphilly,W06000018,3375,1547,2814,679,Females,Bad or very bad health,4
2084,2011,Blaenau Gwent,W06000019,1443,549,1324,375,Females,Bad or very bad health,4
2085,2011,Torfaen,W06000020,1401,691,1549,268,Females,Bad or very bad health,4
2086,2011,Monmouthshire,W06000021,1186,503,766,263,Females,Bad or very bad health,4
2087,2011,Newport,W06000022,1916,1044,2035,530,Females,Bad or very bad health,4

In [8]:
tenure.to_excel('./2011/Projection/Tenure_processed_2011.xlsx',index=False)